.paginator {
    text-align: right;
}

input[type=number].paginator {
    display: inline-block;
    max-width: 40px;
    text-align: center;
}

.form-absolute {
    min-width: 350px;
    min-height: 350px;
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button.submit {
    display: block;
    margin: 0 auto;
    max-width: 150px;
    margin-bottom: 20px;
}