{% extends "base.html" %}

{% block title %}Адмін панель{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="card">
                <div class="card-header card-header-tabs card-header-primary">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <span class="nav-tabs-title">Товари:</span>
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active" href="#profile" data-toggle="tab">
                                        <i class="material-icons">bug_report</i> Bugs
                                        <div class="ripple-container"></div>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        За видом
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-left"
                                        aria-labelledby="navbarDropdownProfile">
                                        <a class="dropdown-item"
                                            href="{{ url('products', query_={'pages': 0, 'sort': 'none'}) }}">
                                            Всі</a>
                                        {% for kind in kinds %}
                                        <a class="dropdown-item"
                                            href="{{ url('products', query_={'pages': 0, 'sort': kind['name']}) }}">
                                            {{ kind['name'] }}</a>
                                        {% endfor %}
                                    </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="profile">
                            <table class="table table-hover">
                                <thead class="text-warning">
                                    <th>Назва</th>
                                    <th>Вид</th>
                                    <th>Опис</th>
                                    <th>Ціна</th>
                                </thead>
                                <tbody>
                                    {% for prod in products %}
                                    <tr>
                                        <td>
                                            {{ prod['label'] }}
                                        </td>
                                        <td>
                                            {{ prod['kind'] }}
                                        </td>
                                        <td>
                                            {{ prod['about'] }}
                                        </td>
                                        <td>
                                            {% set amount = prod['amount'] | int / 100 %}
                                            {{ amount | round(1)}}0 ₴
                                        </td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-primary btn-link btn-sm">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-link btn-sm">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="messages">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Flooded: One year later, assessing what was lost and what
                                            was found when a ravaging rain swept through metro Detroit
                                        </td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-primary btn-link btn-sm">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-link btn-sm">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="settings">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Lines From Great Russian Literature? Or E-mails From My
                                            Boss?</td>
                                        <td class="td-actions text-right">
                                            <button type="button" rel="tooltip" title="Edit Task"
                                                class="btn btn-primary btn-link btn-sm">
                                                <i class="material-icons">edit</i>
                                            </button>
                                            <button type="button" rel="tooltip" title="Remove"
                                                class="btn btn-danger btn-link btn-sm">
                                                <i class="material-icons">close</i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% set pages = count | float / 10 %}
                    {% set pages = pages | round(0, 'ceil') %}
                    <div class="paginator">
                        <button class="btn btn-primary btn-link btn-sm" disabled>
                            Товарів: {{ count }} <br>
                            Сторінок: {{ pages | int }}
                        </button>
                        <button class="btn btn-primary btn-link btn-sm" {% if cur_page | int==1 %} disabled {% endif %}
                            onclick="window.location.href='{{ url('products', query_={'pages': 0, 'sort': request.query['sort']}) }}';">
                            <i class="material-icons">first_page</i>
                        </button>
                        <button class="btn btn-primary btn-link btn-sm" {% if cur_page | int==1 %} disabled {% endif %}
                            onclick="window.location.href='{{ url('products', query_={'pages': request.query['pages'] | int - 1, 'sort': request.query['sort']}) }}';">
                            <i class="material-icons">chevron_left</i>
                        </button>
                        {% set page_count = count | int / 10 %}
                        <input class="form-control paginator" type="number" min="1"
                            max="{{ page_count | round(0, 'ceil') }}" name="paginator" value="{{ cur_page }}">
                        <button class="btn btn-primary btn-link btn-sm" {% if cur_page | int * 10 - 10>= count | int %}
                            disabled {% endif %} onclick="window.location.href='{{ url('products', query_={'pages':
                            request.query['pages'] | int + 1, 'sort': request.query['sort']}) }}';">
                            <i class="material-icons">chevron_right</i>
                        </button>
                        <button class="btn btn-primary btn-link btn-sm" {% if cur_page | int * 10 - 10>= count | int %}
                            disabled {% endif %} onclick="window.location.href='{{ url('products',
                            query_={'pages': pages | int - 1, 'sort': request.query['sort']}) }}';">
                            <i class="material-icons">last_page</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-absolute">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title">Додати товар</h4>
                </div>
                <div class="card-body">
                    <form action="{{ url('products') }}" method="post">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Назва</label>
                                    <input type="text" class="form-control" name="label">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Ціна</label>
                                    <input type="number" class="form-control" name="amount">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Вид</label>
                                    <input type="text" class="form-control" name="kind">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Посилання на картинку</label>
                                    <input type="text" class="form-control" name="picture">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Опис</label>
                                    <input type="text" class="form-control" name="about">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary submit">Додати</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}